.th {
  padding: 0;
}

.control {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.icon {
  width: 21px;
  height: 21px;
  border-radius: 21px;
}

.table {
  table-layout: auto;
  width: 100%;
}

.tableTitle {
  width: 32%;
  white-space: nowrap;
}

.tableStatus {
  width: 12%;
  white-space: nowrap;
}

.tableResponseCount {
  width: 12%;
  white-space: nowrap;
}

.tableOwner {
  width: 12%;
  white-space: nowrap;
}

.tableCreateTime {
  width: 12%;
  white-space: nowrap;
}

.tableActions {
  width: 20%;
  white-space: nowrap;
}